.navbar {
  background-color: #000000;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.582);
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 1rem;
}
.logo-text{
  text-decoration: none;
  
}
.navbar-links {
  display: flex;
  gap: 2rem;
  color: rgb(64, 0, 255);
  padding-right: 1rem;
}

.nav-link {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: background-color 0.2s;
}

.nav-link:hover {
  background-color: rgba(255, 255, 255, 0.105);
}

@media (max-width: 768px) {
  .navbar {
    padding: 1rem;
  }

  .navbar-brand {
    font-size: 1.2rem;
  }

  .navbar-links {
    gap: 1rem;
  }

  .nav-link {
    padding: 0.5rem;
  }
}